//全局border颜色；
$Bd_COLOR: #ccc7c6;
$TEXT_COLO: #878787;
$TEXT_BLACK: #1b1b1b;
$TEXT_ORANGE: #f79402;
$TEXT_666: #666;
$THEME_COLOR: #129992;
//伪元素实现1像素边框；
/*
*
*/
@mixin brdCom($pst, $bdrColor, $leftDis: 0) {
  content: ' ';
  position: absolute;
  width: 100%;
  left: $leftDis;
  #{$pst}: 0;
  border-top: 1px solid $bdrColor;
  color: $bdrColor;
  transform: scaleY(.5);
}

//不换行
@mixin nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pd-td10 {
  padding: 10px 0;
}