@import "../base/global";
html {
  background: #f2efe9;
}

//课程详情
.course-wrapper {
  width: 1180px;
  margin: 0 auto;
  .course-head {
    height: 365px;
    padding: 30px 35px;
    background: #fff;
    @at-root .course-head-l {
      float: left;
      width: 480px;
      .l-i {
        height: 270px;
        overflow: hidden;
      }
      .l-share-agency {
        margin-top: 5px;
        .agency {
          font-size: 12px;
          color: $TEXT_COLO;
        }
      }
      .share-keep {
        float: right;
        .iconfont {
          font-size: 14px;
          color: $THEME_COLOR;
          vertical-align: middle;
        }
        .keep,
        .share {
          margin-right: 15px;
          font-size: 12px;
          color: $TEXT_COLO;
        }
      }
    }
    @at-root .course-head-r {
      float: right;
      width: 590px;
      height: 270px;
      .r-tit {
        font-size: 24px;
        color: $TEXT_BLACK;
        font-weight: 600;
      }
      .r-tags {
        padding: 13px 0;
        > a {
          padding: 4px 7px;
          border-radius: 2px;
          background: $THEME_COLOR;
          cursor: pointer;
          font-size: 16px;
          color: #fff;
        }
      }
      .r-price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 65px;
        padding: 0 20px 0 10px;
        background-color: #f9f9f9;
        font-size: 14px;
        color: $TEXT_666;
        .price-d {
          display: flex;
          align-items: center;
        }
        .price-n {
          padding-left: 10px;
          font-size: 24px;
          color: $TEXT_ORANGE;
        }
        .org-price {
          padding-left: 20px;
          padding-right: 20px;
          text-decoration: line-through;
          font-size: 14px;
        }
        .total-sh span {
          color: $TEXT_ORANGE;
        }
        i {
          font-family: arial;
        }
      }
      .r-site,
      .r-time {
        margin-top: 13px;
        font-size: 14px;
        color: $TEXT_666;
        > a {
          padding-left: 5px;
          color: $THEME_COLOR;
        }
      }
      .r-actions {
        margin-top: 13px;
        a {
          display: inline-block;
          width: 135px;
          height: 40px;
          margin-right: 20px;
          border: 1px solid $TEXT_ORANGE;
          background: $TEXT_ORANGE;
          line-height: 38px;
          font-size: 18px;
          color: #fff;
          text-align: center;
          &.look {
            background: #fdeacc;
            color: $TEXT_ORANGE;
          }
        }
      }
    }
  }
  @at-root .course-cont {
    .course-detail {
      margin-top: 15px;
      width: 880px;
      float: left;
      background: #fff;
      .nav-tab {
        border-bottom: 1px solid #ccc7c6;
        > li {
          width: 175px;
          height: 50px;
          float: left;
          cursor: pointer;
          font-size: 16px;
          color: $TEXT_666;
          line-height:50px;
          text-align: center;
          &.active {
            background: $THEME_COLOR;
            color: #fff;
          }
        }
      }
      .course-info {
        &.show {
          display: block;
        }
        display: none;
        padding-bottom: 55px;
      }
      .tab-block {
          margin-top: 25px;
        .tab-tit {
          padding-left: 25px;
          position: relative;
          margin-bottom: 30px;
          font-size: 20px;
          color: $THEME_COLOR;
          &::before {
            content: ' ';
            position: absolute;
            left: 4px;
            top: 50%;
            width: 8px;
            height: 20px;
            transform: translate(0, -50%);
            background: $THEME_COLOR;
          }
        }
        .timetable {
          width: 712px;
          height: 162px;
          margin-left: 80px;
          border: 1px solid #e5e3e2;
          > li {
            width: 355px;
            height: 80px;
            overflow: hidden;
            float: left;
            line-height: 80px;
            font-size: 14px;
            &:nth-child(1) {
              border-bottom: 1px solid #e5e3e2;
            }
            &:nth-child(2) {
              border-bottom: 1px solid #e5e3e2;
            }
          }
          .timetable-t {
            width: 110px;
            height: 80px;
            float: left;
            background: #f9f9f9;
            color: $TEXT_BLACK;
            text-align: center;
            font-weight: 600;
          }
          .timetable-i {
            width: 245px;
            height: 80px;
            padding-left: 30px;
            float: left;
            color: $TEXT_666;
          }
        }
        .figuration {
          p {
            padding-left: 20px;
            font-size: 14px;
            color: $TEXT_666;
          }
          .text {
            padding: 20px;
            font-size: 14px;
            color: $TEXT_666;
            line-height: 2;
          }
        }
        .course-star-end {
          text-align: center;
          .used {
            font-size: 16px;
            color: $TEXT_666;
            > span {
              color: $THEME_COLOR;
            }
          }
          .cost {
            width: 450px;
            margin: 5px auto 55px auto;
            font-size: 14px;
            color: $TEXT_666;
            .left {
              float: left;
            }
            .right {
              float: right;
            }
          }
        }
        .course-chapter {
          padding: 20px;
          li {
            height: 65px;
            line-height: 64px;
            border-bottom: 1px dotted $Bd_COLOR;
          }
          .chapter-tag {
            line-height: 32px;
            float: left;
            margin-top: 16px;
            > span {
              display: inline-block;
              width: 66px;
              height: 32px;
              border-radius: 16px 0 0 16px;
              background: #c0c0c0;
              text-align: center;
              color: #fff;
              font-size: 14px;
            }
            .chapter-icon {
              display: inline-block;
              width: 44px;
              height: 32px;
              margin-left: -12px;
              border-radius: 22px 0 0 22px;
              text-align: center;
              background: #fff;
              > i {
                display: block;
                width: 32px;
                height: 32px;
                margin: 0 auto;
                border-radius: 100%;
                background: $THEME_COLOR;
                text-align: center;
                color: #fff;
                font-size: 17px;
              }
            }
          }
          .text {
            width: 700px;
            float: left;
            margin-left: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: 14px;
            color: #000;
          }
        }
      }
    }
    .course-right {
      float: right;
      width: 280px;
      .right-block {
        margin-top: 15px;
        background: #fff;
       }
      .block-tit {
        height: 51px;
        padding-left: 25px;
        border-bottom: 1px solid #ccc7c6;
        font-size: 16px;
        color: $TEXT_666;
        line-height: 50px;
      }
      .block-info {
        padding: 25px 0;
      }
      .info-photo {
        width: 95px;
        height: 95px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 100%;
        background: #000;
        text-align: center;
        line-height:95px;
      }
      .info-name {
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $TEXT_BLACK;
        text-align: center;
      }
      .info-dec {
        padding-top: 4px;
        font-size: 14px;
        color: $TEXT_666;
        text-align: center;
      }
      .info-present {
        padding: 20px;
        font-size: 14px;
        color: $TEXT_666;
        line-height:1.8;
      }
      .course-block {
        padding: 20px;
        border-bottom: 1px dashed #cdc9c8;
        &:last-child {
          border-bottom: none;
        }
        .course-h {
          overflow: hidden;
        }
        .course-nam {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-top: 10px;
          font-size: 14px;
          color: $TEXT_666;
        }
        .course-statistical {
          padding-left: 10px;
          font-size: 14px;
          color: $TEXT_666;
          .price {
            color: $TEXT_ORANGE;
          }
          i {
            font-family: arial;
          }
        }
      }
    }
  }
}

//课件下载
.course-down {
  background: #fff;
  .course-down-cont {
    width: 1180px;
    margin: 0 auto;
  }
  .course-down-l {
    width: 246px;
    float: left;
  }
  .left-block {
    padding-top: 20px;
    .tit {
      height: 44px;
      padding-left: 25px;
      background: $THEME_COLOR;
      line-height: 44px;
      font-size: 18px;
      color: #fff;
    }
    .name {
      margin: 0 15px;
      height: 41px;
      border-bottom: 1px dashed $Bd_COLOR ;
      font-size: 16px;
      font-weight: bold;
      line-height:40px;
      color: #000;
    }
    .block-cont {
      border: 1px solid $Bd_COLOR;
    }
    .kind-list {
      padding-top: 5px;
      padding-bottom: 15px;
      > li {
        width: 61px;
        height: 34px;
        float: left;
        text-align: center;
        font-size: 14px;
        line-height:34px;
        color: $TEXT_666;
      }
      a {
        color: $TEXT_666;
      }
    }
    .course-item {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      height: 36px;
      padding-left: 26px;
      position: relative;
      line-height: 36px;
      > a {
        font-size: 14px;
        color: $TEXT_666;
      }
      &:before {
        content: ' ';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        left: 8px;
        top: 50%;
        margin-top: -4px;
        border-radius: 100%;
        background: $TEXT_ORANGE;
        vertical-align: middle;
      }
    }
  }
  .course-down-r {
    margin-top: 20px;
    width: 914px;
    float: right;
    .course-desc {
      padding: 20px 30px;
      border: 1px solid $Bd_COLOR;
    }
    .title {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: bold;
      color: #000;
    }
    .detail {
      height: 260px;
    }
    .detail-i {
      width: 390px;
      height: 260px;
      float: left;
      overflow: hidden;
    }
    .detail-info {
      width: 430px;
      float: right;
    }
    .price-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 65px;
      padding: 0 20px 0 10px;
      background-color: #f9f9f9;
      font-size: 14px;
      color: $TEXT_666;
      .price-d {
        display: flex;
        align-items: center;
      }
      .price-n {
        padding-left: 10px;
        font-size: 24px;
        color: $TEXT_ORANGE;
      }
      .org-price {
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: line-through;
        font-size: 14px;
      }
      .total-sh span {
        color: $TEXT_ORANGE;
      }
      i {
        font-family: arial;
      }
    }
    .detail-info-list {
      margin-top: 5px;
      font-size: 14px;
      color: $TEXT_666;
      > li {
        height: 34px;
        line-height: 34px;
      }
      .iconfont {
        font-size: 16px;
        color: $TEXT_ORANGE;
      }
    }
    .course-present {
      margin-top: 5px;
      h4 {
        height: 51px;
        line-height: 50px;
        border-bottom: 1px solid $Bd_COLOR;
        font-size: 18px;
        color: #000;
      }
      p {
        padding: 20px 0;
        line-height: 1.8;
        font-size: 14px;
        color: $TEXT_666;
      }
    }
    .download {
      > a {
        display: block;
        cursor: pointer;
        width: 136px;
        height: 42px;
        border: 1px solid $TEXT_ORANGE;
        background: $TEXT_ORANGE;
        line-height:40px;
        text-align: center;
        font-size: 14px;
        color: #fff;
      }
    }
    .course-related {
      margin-top: 20px;
      border: 1px solid $Bd_COLOR;
      .tit {
        padding: 0 25px;
        height: 51px;
        border-bottom: 1px solid $Bd_COLOR;
        background: #f3f3f3;
        line-height:50px;
        font-size: 18px;
        color: #000;
      }
      ol {
        padding: 20px;
        li {
          height: 28px;
          line-height: 28px;
        }
        a {
          font-size: 14px;
          color: $TEXT_666;
        }
      }
    }
  }
}

//分类
.course-down {
  background: #fff;
  .course-down-r {
    .banner {
      height: 100px;
      overflow: hidden;
    }
    .course-presentation {
      margin-top: 20px;
      margin-bottom: 60px;
      border: 1px solid $Bd_COLOR;
    }
    .presentation-nav {
      border-bottom: 1px solid $Bd_COLOR;
      > li {
        width: 85px;
        height: 40px;
        float: left;
        border-right: 1px solid transparent;
        line-height: 40px;
        text-align: center;
        a {
          font-size: 14px;
          color: #000;
        }
        &.active {
          border-right: 1px solid $Bd_COLOR;
          a {
            color: $THEME_COLOR;
          }
        }
      }
    }
    .presentation-list {
      padding: 0 30px;
      .p-i {
        padding: 20px 0;
        border-bottom: 1px dotted $Bd_COLOR;
      }
      .p-img {
        width: 165px;
        height: 110px;
        float: left;
      }
      .p-info {
        width: 670px;
        float: right;
      }
      .p-tit {
        @include nowrap;
        margin-top: 5px;
        font-size: 16px;
        color: #000;
      }
      .p-download {
        margin-top: 10px;
        font-size: 14px;
        color: $TEXT_COLO;
      }
      .p-price {
        margin-top: 10px;
        i {
          font-family: arial;
        }
        .price1 {
          font-size: 18px;
          color: $TEXT_ORANGE;
        }
        .price2 {
          margin-left: 10px;
          font-size: 16px;
          color: $TEXT_COLO;
        }
      }
    }
    .presentation-change {
      padding: 48px 0;
      text-align: center;
      a {
        margin: 0 2px;
        padding: 3px 8px;
        border: 1px solid $Bd_COLOR;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        color: $TEXT_COLO;
        &.active {
          color: #fff;
          background: $THEME_COLOR;
          border: 1px solid $THEME_COLOR;
        }
      }
      i {
        font-size: 10px;
        color: #ccc7c6;
      }
    }
  }
}