@import "../base/global";
html {
  background: #f7f8f8;
}

.school-wrapper {
  margin-top: 20px;
  .wrapper {
    width: 1180px;
    margin:0 auto;
  }
  .menu-m {
    width: 240px;
    float: left;
    border: 1px solid $Bd_COLOR;
    background: #fff;
    h4 {
      height: 46px;
      border-bottom: 1px solid $Bd_COLOR;
      line-height: 45px;
      text-align: center;
      &.active > a {
        color: $THEME_COLOR;
      }
      a {
        font-size: 16px;
        color: $TEXT_666;
      }
    }
    .menu-list {
      margin: 0 18px;
      dd {
        border-bottom: 1px dashed $Bd_COLOR;
        &:last-child {
          border: none;
        }
      }
      .menu-item1 {
        height: 46px;
        line-height: 46px;
        text-align: center;
        font-size: 16px;
        color: $TEXT_666;
        a {
          font-size: 16px;
          color: $TEXT_666;
        }
      }
      .menu-item2 {
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        color: $TEXT_COLO;
        a {
          font-size: 14px;
          color: $TEXT_COLO;
        }
      }
      .menu-item1,
      .menu-item2 {
        &.active {
          color: $THEME_COLOR;
          & a {
            color: $THEME_COLOR;
          }
        }
      }
    }
    .follow-us {
      width: 200px;
      height: 200px;
      margin: 265px auto 30px auto;
      background: #f7f7f7;
      font-size: 14px;
      color: $TEXT_666;
      text-align: center;
      h5 {
        height: 45px;
        line-height: 45px;
      }
      .cq-code {
        width: 115px;
        height: 115px;
        overflow: hidden;
        margin: 0 auto;
        background: #fff;
        text-align: center;
        line-height: 115px;
      }
      p {
        height: 37px;
        line-height: 37px;
      }
    }
  }
  .cont-m {
    width: 920px;
    float: right;
    .common-h {
      padding-bottom: 15px;
      border-bottom: 1px solid $THEME_COLOR;
      h4 {
        font-size: 16px;
        color: #129992;
      }
      a {
        display: block;
        width: 70px;
        height: 30px;
        border: 1px solid $THEME_COLOR;
        line-height: 28px;
        text-align: center;
        font-size: 16px;
        color: $THEME_COLOR;
      }
      i {
        margin-right: 3px;
        font-size: 20px;
      }
    }
    .change-page {
      padding: 48px 0;
      text-align: center;
      a {
        margin: 0 2px;
        padding: 3px 8px;
        border: 1px solid $Bd_COLOR;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        color: $TEXT_COLO;
        &.active {
          color: #fff;
          background: $THEME_COLOR;
          border: 1px solid $THEME_COLOR;
        }
      }
      i {
        font-size: 10px;
        color: #ccc7c6;
      }
    }
    //index
    @at-root .school-index {
      padding-bottom: 40px;
      border: 1px solid $Bd_COLOR;
      background: #fff;
      .block-title {
        margin-top: 35px;
        margin-bottom: 20px;
        padding-left: 12px;
        font-size: 16px;
        color: #1b1b1b;
      }
      .school-head {
        display: flex;
        align-items: center;
        margin: 0 20px;
        padding: 30px 0;
        border-bottom: 1px solid $Bd_COLOR;
        .img {
          $size: 80px;
          width: $size;
          height: $size;
          margin-left: 20px;
          margin-right: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .desc {
          flex: 1;
          overflow: hidden;
          h4 {
            font-size: 22px;
            color: $TEXT_666;
          }
          .location {
            display: flex;
            font-size: 14px;
            color: $TEXT_COLO;
            span,
            a {
              margin-right: 50px;
            }
            a {
              color: #5381df;
            }
          }
        }
        .action {
          height: 80px;
          a {
            font-size: 12px;
            color: #5381df;
          }
          i {
            font-size: 16px;
            color: $TEXT_COLO;
          }
        }
      }
      .school-table {
        margin: 0 16px;
        .table {
          border: 1px solid $Bd_COLOR;
        }
        dt,
        dd {
          display: flex;
          align-items: center;
          height: 41px;
          overflow: hidden;
          border-bottom: 1px solid $Bd_COLOR;
          font-size: 14px;
          color: $TEXT_666;
        }
        dt {
          background: #f7f7f7;
        }
        dd:last-child {
          border: none;
        }
        .w300,
        .w310,
        .w135 {
          height: 40px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          border-right: 1px solid $Bd_COLOR;
          line-height: 40px;
          text-align: center;
        }
        .w300 {
          width: 300px;
        }
        .w310 {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            margin-left: 30px;
            color: #129992;
          }
        }
        .w135 {
          width: 135px;
          &:last-child {
            border: none;
          }
        }
        .schedule {
          width: 180px;
          height: 8px;
          overflow: hidden;
          border-radius: 4px;
          background: #f3f0ea;
          p {
            height: 8px;
            background: #f89200;
          }
        }
      }
      .school-news {
        margin: 0 16px;
        .new-plate {

        }
        .new-block {
          width: 390px;
          padding: 0 10px;
          font-size: 14px;
          color: $TEXT_666;
        }
        li {
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        a {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 14px;
          color: $TEXT_666;
        }
        span {
        }
      }
      .school-history {
        padding: 0 6px;
        .block-title {
          margin-left: 6px;
        }
        .item-list {
          padding: 0 10px;
          li {
            width: 275px;
            float: left;
            margin: 10px;
          }
          .item-desc {
            height: 40px;
            background: #f2f2f5;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-align: center;
            font-size: 14px;
            color: $TEXT_666;
            line-height: 40px;
          }
        }
      }
    }
    //briefing
    @at-root .school-briefing {
      padding: 20px;
      border: 1px solid $Bd_COLOR;
      background: #fff;
      .table {
        border: 1px solid $Bd_COLOR;
        dd,
        dt {
          display: flex;
          overflow: hidden;
        }
        dt {
          height: 40px;
          background: #f7f7f7;
        }
        dd {
          height: 71px;
          border-bottom: 1px dashed $Bd_COLOR;
          &:last-child {
            border: none;
          }
        }
        .w430,
        .w87,
        .w162,
        .w111,
        .w83 {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          overflow: hidden;
          border-right: 1px solid $Bd_COLOR;
          font-size: 14px;
          color: $TEXT_666;
        }
        .w430 {
          width: 430px;
        }
        .w87 {
          width: 87px;
        }
        .w162 {
          width: 162px;
        }
        .w111 {
          width: 111px;
        }
        .w83 {
          flex: 1;
          a {
            font-size: 12px;
            color: #5381df;
          }
        }
      }
    }
    //news
    @at-root .school-news {
      padding: 20px;
      border: 1px solid $Bd_COLOR;
      background: #fff;
      .news-list {
        li {
          display: flex;
          align-items: center;
          padding: 10px 0;
          border-bottom: 1px dashed $Bd_COLOR;
          text-align: center;
          font-size: 14px;
          color: $TEXT_666;
        }
        .desc {
          margin-left: 20px;
          flex: 1;
          text-align: left;
        }
        .time {
          width: 220px;
        }
        .action {
          width: 105px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          a {
            font-size: 12px;
            color: #5381df;
          }
        }
      }
    }
    //demand
    @at-root .school-demand {
      padding: 20px;
      background: #fff;
      .form-item {
        display: flex;
        margin-top: 20px;
        font-size: 14px;
        color: $TEXT_666;
        .name {
          width: 80px;
          height: 36px;
          margin-right: 30px;
          text-align: right;
          line-height: 36px;
        }
        .tet {
          width: 362px;
          height: 36px;
          padding: 5px;
          border: 1px solid $Bd_COLOR;
          outline: none;
          background: transparent;
          border-radius: 2px;
        }
        .textare {
          width: 362px;
          height: 190px;
          padding: 5px;
          border: 1px solid $Bd_COLOR;
          outline: none;
          background: transparent;
          border-radius: 2px;
        }
        button {
          width: 150px;
          height: 36px;
          padding: 5px;
          border: none;
          outline: none;
          cursor: pointer;
          background: $THEME_COLOR;
          border-radius: 2px;
          color: #fff;
        }
      }
    }
    //board
    @at-root .school-board {
      padding: 20px;
      background: #fff;
      border: 1px solid $Bd_COLOR;
      .upload-img {
        width: 150px;
        height: 150px;
        margin-top: 20px;
        margin-bottom: 10px;
        background: #e8e8e8;
        .file {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
        .img {
          height: 125px;
          overflow: hidden;
          position: relative;
        }
        .desc {
          height: 25px;
          background: #747474;
          line-height: 25px;
          font-size: 14px;
          color: #fff;
          text-align: center;
        }
      }
      .form-item {
        display: flex;
        padding: 20px 0;
        border-bottom: 1px dashed $Bd_COLOR;
        .name {
          width: 80px;
          height: 36px;
          padding-left: 10px;
          line-height: 36px;
          font-size: 14px;
          color: $TEXT_666;
        }
        .txt {
          width: 260px;
          height: 36px;
          padding: 5px;
          background: transparent;
          border: 1px solid $Bd_COLOR;
          outline: none;
          border-radius: 2px;
          font-size: 14px;
          color: #1d1d1d;
        }
        .textarea {
          width: 662px;
          height: 302px;
          padding: 5px;
          border: 1px solid $Bd_COLOR;
          background: transparent;
          outline: none;
          border-radius: 2px;
          resize: none;
          line-height: 1.5;
          font-size: 14px;
          color: #1d1d1d;
        }
        .btn {
          width: 150px;
          height: 36px;
          margin-right: 20px;
          border: none;
          outline: none;
          background: transparent;
          border-radius: 2px;
          font-size: 14px;
          color: #fff;
          &.save {
            background: $THEME_COLOR;
          }
          &.reset {
            color: $TEXT_666;
            border: 1px solid $Bd_COLOR;
          }
        }
        .form-upload-img {
          .upload-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 660px;
            height: 125px;
            cursor: pointer;
            background: #f8f8f8;
            position: relative;
            .file {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              opacity: 0;
              cursor: pointer;
            }
          }
          i {
            font-size: 30px;
            color: #a3a3a3;
          }
          .text {
            font-size: 14px;
            color: $TEXT_666;
          }
          p {
            padding: 5px 0;
            font-size: 12px;
            color: $TEXT_COLO;
          }
        }
      }
    }
    //account
    @at-root .school-account {
      padding: 0 30px;
      border: 1px solid $Bd_COLOR;
      min-height: 736px;
      .item-box {
        display: flex;
        align-items: center;
        height: 70px;
        padding: 0 30px;
        border-bottom: 1px solid $Bd_COLOR;
      }
      .account-item-l {
        width: 135px;
        > i {
          margin-right: 5px;
          font-size: 22px;
          color: $THEME_COLOR;
        }
        > span {
          font-size: 18px;
        }
      }
      .account-item-z {
        width: 380px;
        font-size: 12px;
        color: $TEXT_666;
      }
      .account-item-r {
        flex: 1px;
        text-align: right;
        .toggle {
          cursor: pointer;
          font-size: 14px;
          color: #5381df;
        }
      }
      .item-form {
        display: none;
        padding: 30px 0;
      }
      .form-component {
        width: 500px;
        margin: 0 auto;
        .cell {
          display: flex;
          align-items: center;
          height: 36px;
          margin-top: 10px;
        }
        .cell-hd {
          width: 120px;
          font-size: 14px;
          color: $TEXT_666;
          text-align: right;
        }
        .cell-bd {
          flex: 1;
          display: flex;
          .mobile {
            font-size: 18px;
            color: #1b1b1b;
          }
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 36px;
            padding: 0 12px;
            margin-right: 10px;
            border-radius: 3px;
            font-size: 14px;
            &.success {
              border: 1px solid $THEME_COLOR;
              background: $THEME_COLOR;
              color: #fff;
            }
            &.cancel {
              border: 1px solid $Bd_COLOR;
              background: transparent;
              color: $TEXT_666;
            }
          }
        }
        .cell-ft {
          width: 100px;
          text-align: right;
          .link {
            font-size: 14px;
            color: #5381df;
          }
        }

        .max-txt,
        .min-inout {
          width: 280px;
          height: 36px;
          padding: 5px 10px;
          border: 1px solid $Bd_COLOR;
          border-radius: 2px;
          font-size: 14px;
          color: #000;
        }
        .min-inout {
          width: 148px;
        }
        .get-code {
          width: 100px;
          height: 36px;
          margin-left: 10px;
          outline: none;
          border: none;
          cursor: pointer;
          font-size: 14px;
          color: #fff;
          background: $THEME_COLOR;
          &.disabled {
            background: #c1c1c1;
          }
        }
      }
    }
    //history
    @at-root .school-history {
      padding: 20px 30px;
      border: 1px solid $Bd_COLOR;
      min-height: 736px;
    }
    //edit
    @at-root .school-edit {
      padding: 20px 30px;
      border: 1px solid $Bd_COLOR;
      min-height: 800px;
      .edit-block {
        margin: 0 5px;
        font-size: 14px;
        color: $TEXT_666;
        .block-tit {
          height: 20px;
          margin: 20px 0;
          padding-left: 10px;
          border-left: 4px solid #ccc7c6;
          line-height: 20px;
          font-size: 20px;
          color: $TEXT_666;
        }
      }
      .block-item {
        display: flex;
        margin-top: 20px;
        .name {
          width: 50px;
          height: 36px;
          padding-left: 5px;
          line-height: 36px;
        }
        .txt {
          width: 700px;
          height: 36px;
          padding: 5px;
          border: 1px solid $Bd_COLOR;
          border-radius: 2px;
          background: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          font-size: 14px;
          color: #1d1d1d;
        }
        .textarea {
          height: 110px;
          resize: none;
        }
        .upload-img {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 240px;
          height: 140px;
          position: relative;
          background: #f7f7f7;
          i {
            font-size: 30px;
            color: #a3a3a3;
          }
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
        .file {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 2;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }
        .desc {
          margin-left: 10px;
          display: flex;
          align-items: flex-end;
          color: $TEXT_COLO;
        }
      }
      .action {
        margin-top: 20px;
        .btn {
          width: 150px;
          height: 36px;
          border: none;
          margin-right: 20px;
          border-radius: 2px;
          outline: none;
          background: transparent;
          font-size: 14px;
          color: #fff;
          &.save {
            background: $THEME_COLOR;
          }
          &.cancel {
            border: 1px solid $Bd_COLOR;
            color: $TEXT_666;
          }
        }
      }
    }
  }
}