@import "../base/global";
html {
  background: #f7f8f8;
}
.teacher-center-wrapper {
  margin-top: 20px;
  .wrapper {
    width: 1180px;
    margin: 0 auto;
  }
  .menu-m {
    width: 240px;
    border: 1px solid $Bd_COLOR;
    background: #fff;
    h4 {
      height: 46px;
      border-bottom: 1px solid $Bd_COLOR;
      line-height: 45px;
      text-align: center;
      &.active > a {
        color: $THEME_COLOR;
      }
      a {
        font-size: 16px;
        color: $TEXT_666;
      }
    }
    .menu-list {
      margin: 0 18px;
      dd {
        border-bottom: 1px dashed $Bd_COLOR;
        &:last-child {
          border: none;
        }
      }
      .menu-item1 {
        height: 46px;
        line-height: 46px;
        text-align: center;
        font-size: 16px;
        color: $TEXT_666;
        a {
          font-size: 16px;
          color: $TEXT_666;
        }
      }
      .menu-item2 {
        height: 36px;
        line-height: 36px;
        text-align: center;
        font-size: 14px;
        color: $TEXT_COLO;
        a {
          font-size: 14px;
          color: $TEXT_COLO;
        }
      }
      .menu-item1,
      .menu-item2 {
        &.active {
          color: $THEME_COLOR;
          & a {
            color: $THEME_COLOR;
          }
        }
      }
    }
    .follow-us {
      width: 200px;
      height: 200px;
      margin: 265px auto 30px auto;
      background: #f7f7f7;
      font-size: 14px;
      color: $TEXT_666;
      text-align: center;
      h5 {
        height: 45px;
        line-height: 45px;
      }
      .cq-code {
        width: 115px;
        height: 115px;
        overflow: hidden;
        margin: 0 auto;
        background: #fff;
        text-align: center;
        line-height: 115px;
      }
      p {
        height: 37px;
        line-height: 37px;
      }
    }
  }
}