@import "../base/global";
html {
  background: #f4f1eb;
}

.teacher-wrapper {
  background: no-repeat top center;
  .wrapper {
    width: 1180px;
    margin: 0 auto;
  }
  .head-info {
    height: 300px;
    padding: 40px 0;
    .photo {
      $size: 150px;
      width: $size;
      height: $size;
      padding: 3px;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 100%;
      background: #fff;
      > span {
        display: block;
        width: 144px;
        height: 144px;
        overflow: hidden;
        border-radius: 100%;
      }
    }
    .name {
      margin-top: 10px;
      font-size: 24px;
      font-weight: 500;
      color: #1b1b1b;
      text-align: center;
    }
    .desc {
      text-align: center;
      font-size: 14px;
      color: $TEXT_666;
      > span {
        padding: 0 3px;
      }
    }
  }
  .top-nav-m {
    background: #fff;
    .nav-list {
      width: 1040px;
      margin: 0 auto;
    }
    li {
      width: 260px;
      float: left;
      &.active a {
        border-bottom: 4px solid $THEME_COLOR;
      }
    }
    a {
      display: block;
      width: 90px;
      height: 47px;
      margin: 0 auto;
      border-bottom: 4px solid #fff;
      line-height: 43px;
      text-align: center;
      font-size: 18px;
      color: $TEXT_666;
    }
  }
  .cont-m {
    margin-top: 20px;
    .cont-title {
      height: 48px;
      padding: 0 20px;
      border-bottom: 1px solid $Bd_COLOR;
      line-height:47px;
      font-size: 14px;
      color: #000;
    }
  }
  //index
  @at-root .teacher-index {
    .see-more {
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
      color: $TEXT_666;
    }
    .teacher-course {
      margin-bottom: 20px;
    }
    .billing {
      width: 260px;
      background: #fff;
      .hide-all {
        height: 30px;
        text-align: center;
        font-size: 13px;
        color: $TEXT_666;
        line-height: 30px;
      }
    }
    .tags-list {
      padding: 5px 17px;
      border-bottom: 1px dashed $Bd_COLOR;
      li {
        height: 24px;
        padding: 0 14px;
        margin: 5px 3px;
        float: left;
        border: 1px solid #129992;
        border-radius: 12px;
        background: #d0ebe9;
        font-size: 12px;
        line-height: 22px;


      }
    }
    .img-list {
      width: 260px;
      margin-top: 20px;
      background: #fff;
      .img-grounp {
        padding: 4px;
        border-bottom: 1px dashed $Bd_COLOR;
      }
      .img-head-l {
        padding: 2px;
      }
      .img-min {
        padding: 2px;
      }
    }
  }
  //course
  @at-root .teacher-course {
    .course-menu {
      width: 260px;
      height: 280px;
      float: left;
      background: #f3f3f3;
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 58px;
        margin-bottom: 12px;
        padding: 0 20px;
        background: #fff;
        color: $TEXT_666;
        &.active {
          background: $THEME_COLOR;
          color: #fff;
        }
        span {
          font-size: 18px;
        }
      }
    }
    .course-cont {
      width: 900px;
      float: right;
      background: #fff;
    }
    .cont-list {
      padding: 0 20px;
    }
    .list-item {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px dashed $Bd_COLOR;
      .banner {
        width: 200px;
        height: 110px;
        margin-right: 30px;
      }
      .info {
        flex: 1;
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        .tit {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-size: 16px;
          color: #1b1b1b;
        }
        .des,
        p {
          color: $TEXT_666;
        }
      }
      .action {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 150px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 30px;
          margin-top: 10px;
          border-radius: 3px;
          background: $THEME_COLOR;
          font-size: 14px;
          color: #fff;
        }
        i {
          font-family: arial;
        }
        p {
          font-size: 18px;
          color: $TEXT_ORANGE;
        }
      }

    }
    .change-page {
      padding: 48px 0;
      text-align: center;
      a {
        margin: 0 2px;
        padding: 3px 8px;
        border: 1px solid $Bd_COLOR;
        border-radius: 4px;
        text-align: center;
        font-size: 12px;
        color: $TEXT_COLO;
        &.active {
          color: #fff;
          background: $THEME_COLOR;
          border: 1px solid $THEME_COLOR;
        }
      }
      i {
        font-size: 10px;
        color: #ccc7c6;
      }
    }
  }
  //history
  @at-root .teacher-history {
    .reveal {
      width: 900px;
      float: left;
      background: #fff;
    }
    .teacher-present {
      ul {
        padding: 20px;
        li {
          display: flex;
          span {
            display: flex;
            align-items: center;
            width: 70px;
            height: 30px;
            font-size: 14px;
            color: $TEXT_666;
          }
          p {
            display: flex;
            align-items: center;
            flex: 1;
            font-size: 14px;
            color: #1b1b1b;
            line-height: 30px;
          }
        }
      }
    }
    .teacher-past {
      padding: 0 10px 50px 10px;
      .cont-title {
        height: 40px;
        padding: 0 5px;
        margin-bottom: 15px;
        border-bottom: 1px dashed $Bd_COLOR;
        line-height: 40px;
      }
      dl {
        padding: 10px 0;
        position: relative;
        &::before {
          content: ' ';
          position: absolute;
          left: 6px;
          top: 0;
          width: 2px;
          background: $Bd_COLOR;
          height: 100%;
        }
      }
      dt {
        height: 30px;
        padding: 0 40px;
        position: relative;
        font-size: 14px;
        color: #1b1b1b;
        line-height: 30px;
        &::before,
        &::after {
          content: ' ';
          position: absolute;
          left: 0;
          top: 50%;
          width: 15px;
          height: 15px;
          margin-top: -7px;
          border-radius: 100%;
          background: #fff;
        }
        &::after {
          width: 10px;
          height: 10px;
          left: 2px;
          top: 50%;
          margin-top: -5px;
          background: $Bd_COLOR;
        }
      }

      dd {
        padding: 0 35px;
        font-size: 14px;
        color: $TEXT_666;
      }

    }
    .billing {
      width: 260px;
      float: right;
      background: #fff;
      .hide-all {
        height: 30px;
        text-align: center;
        font-size: 13px;
        color: $TEXT_666;
        line-height: 30px;
      }
    }
    .tags-list {
      padding: 5px 17px;
      border-bottom: 1px dashed $Bd_COLOR;
      li {
        height: 24px;
        padding: 0 14px;
        margin: 5px 3px;
        float: left;
        border: 1px solid #129992;
        border-radius: 12px;
        background: #d0ebe9;
        font-size: 12px;
        line-height: 22px;

        
      }
    }
  }
  //media
  @at-root .teacher-media {
    background: #fff;
    .cont-title-num {
      font-size: 14px;
      color: $TEXT_666;
    }
    .video-list {
      width: 1140px;
      margin: 10px auto 60px auto;
      li {
        width: 275px;
        height: 208px;
        margin: 5px;
        float: left;
      }
      .tit {
        height: 38px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: #f2f2f5;
        font-size: 14px;
        color: $TEXT_666;
        text-align: center;
        line-height:38px;
      }
    }
    .image-list {
      width: 1140px;
      margin: 0 auto;
      padding-bottom: 10px;
      li {
        width: 208px;
        height: 247px;
        margin: 15px 10px;
        float: left;
      }
      .tit {
        height: 33px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 14px;
        color: $TEXT_666;
        text-align: center;
        line-height: 33px;
      }
    }
  }
}